svg {
  background-color: var(--bg);
  border-radius: 5px;
  box-shadow: 0 0 100px #dcdedf;
}

svg path {
  stroke-width: 2;
  fill: none;
}

svg .axis path, svg .axis line {
  fill: none;
  stroke: var(--line);
  stroke-width: 1;
  shape-rendering: crispEdges;
}

svg text {
  fill: var(--text);
}